@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button[disabled]{
    cursor: not-allowed;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  

    background-color: #1a1a1a;
}

.main{
    display:flex;
    flex-direction:row;
}

.title-text{
    margin-top: -100px;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(73, 73, 73);
}

.input-page{ 
    display: grid;
    justify-items:center;
    align-items:center;
    width: 350px;
    height: auto;
    padding: 0 0 10px 0;
    margin-top: 20px;
        
    background-color: #222222;
    box-shadow: 5px 5px 20px;
    border-radius: 8px;
    
}

.form-register{
    display: grid;
    justify-items: center;
}

.input-name-content, .input-pis-content, .input-matricula-content{
    font-size: 20px;  
    margin-top: 40px;
}

#matricula-input, #pis-input, #name-input{
    font-size:17px;
    height: 30px;

    padding-bottom: 0.12rem;
    outline: none;

    background:none;
    border-style: none;
    border-bottom: solid #515151 0.11rem;
    color: #cfcfcf;
    }

    
::placeholder{
    color: #4f4f4f;
}

#error-message{
    margin-top: 5px;
    justify-self:center;
    text-align: center;

    color: red;
    font-size: 13px;
    font-weight: 300;
}

#submit-button{
    margin: 40px auto 15px auto;
    width: 16.5em;
    height: 3em;
    
    background-color: #cfcfcf;
    box-shadow: 3px 3px 20px;
    border-style: none;
    border-radius: 8px;
}

#submit-button:enabled:hover{
    cursor: pointer;
}

.spacement-buttons{
    height: 50px;
}

.download-content{
    display:grid;
    justify-content: center;
}

#download-button{
    margin-bottom: 5px;
    width: 9rem;
    height: 2rem;
    
    background-color: #cfcfcf;
    box-shadow: 3px 3px 20px;
    border-style: none;
    border-radius: 5px;
    
}

#download-button:enabled:hover{
    cursor: pointer;
}




.spacement-pages{
    display: none;
    width: 30px;
}

.register-page{
    width:0;
    height: 0;

    margin-top: 20px;
    transition: 1s; 
}

.registro-item {
    display:flex;
    flex-direction: column;
    width: 320px;
    background-color: #333;
    padding: 10px;

        
    transition: 1s;
    line-height: 2;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 5px 5px 20px black;
}

.remove-button {
    display:flex;
    justify-content: center;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    margin-top: 5px;
}

@media only screen and (max-width: 725px) {
      
      body{
        flex-direction: column;
      }
      
      .main{
        flex-direction: column;
      }
      
      .register-page{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
      }

      .registro-item{
        transition:1s;
      }
      
      .spacement-pages{
        height:30px;
      }

   }
 
